.root {
    padding: 5px;
  width: 100%;
  background-color: #f4f5fe;
  border: 1px solid #9181ef;
  color: #151054;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;

}

.label{
  display:block;
}

.yellow {
  background-color: #fefbf2;
  border: 2px solid #FAECBF
}

.blue {
  background-color: #f1f4fa;
  border: 2px solid #d6e5fe;
}

.pink {
  background-color: #fdf5fe;
  border: 2px solid #fedfff;
}

.purple {
  background-color: #f7f3fc;
  border: 2px solid #eddfff;
}