.root {
    padding: 5px;
  width: 100%;
  background-color: #f4f5fe;
  border: 1px solid #9181ef;
  color: #151054;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;

}

.label{
  display:block;
}

.yellow {
  background-color: #fff8df;
  border: 2px solid #fce3b1;
}

.blue {
  background-color: #dfebff;
  border: 2px solid #bed6ff;
}

.pink {
  background-color: #fedfff;
  border: 2px solid #f2b3e9;
}

.purple {
  background-color: #eddfff;
  border: 2px solid #d4acf4;
}
