.root {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #dfebff;
  border: 2px solid #bed6ff;
  color: #151054;
  font-weight: 500;
  font-size: 16px;
  width: 100px;
}

.secondery {
  background-color: #fcfcfc;
}
